pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
#-e. # '-e.' -> either directly install 'setup.py'... or when installing these requirements(pip install -r requirements.txt), enable 'setup.py' to run in order to build the packages